<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
</head>
<body style="background-color: rgb(19, 116, 116);">
    <div style="color:rgb(201, 3, 52);text-align: center;width: 750px;height: 70px;"><h1>ONLINE TRANSPORTATION SYSTEM</h1></div>
    <div style="color:maroon;text-align: center;width: 750px;height: 100px;"><h1>LOGIN PAGE !!</h1></div>
    <form action="/login" method="POST">
        Enter Name:<input type="text" name="name"><br></br>
        Enter Password:<input type="password" name="password">
        <br><br><button type="submit">login</button>
    </form>
    <div><h3>new user?</h3><a href="signuppage"> <button>SIGNUP</button></a></div></body>
</html>