<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainpage</title>
</head>
<body style="background-color: rgb(19, 116, 116);">
    <div><h1 style="text-align: center;color: brown;">WELCOME MR VIJAY </h1></div><br><br>
    
    <a href="/findingallfiles" ><button>click here for details</button></a>
    <br><br>TO ADD DATA<br><br>
    <form action="/post" method="POST">
        name<input type="text" name="name">
        age<input type="text" name="age">
        <button type="submit">sumit</button>
        </form><br><br>
</body>
</html>